<h1 align="center">All Articles</h1>
<div align="center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>

<div align="center">

  <%= link_to "Create new article",  new_article_path,
                                    class: "btn btn-s btn-success" %>

</div>
