<head>
  <title>AlphaBlog Home</title>
  <link rel="stylesheet" href="app/assets/stylesheets/main.css">
</head>

<body>
  <section class="header">
    <h1>Alpha Blog</h1>
    <h3>Blogging Alpha Shit</h3>
  </section>

  <section class="news">
    <h2>Hey Uma I love you</h2>
  </section>

  <section class="links">
    <%= link_to 'Blog', blog_path %>
    <%= link_to 'About', about_path %>
  </section>

</body>
